 # Type Conversion

 ### int to str

In [15]:
age = 33

In [16]:
type(age)

int

In [17]:
str(age)

'33'

In [18]:
type(age)

int

In [19]:
age = str(age)

In [20]:
type(age)

str

 ### boolean to str

In [21]:
x = True
y = False

In [22]:
type(x)

bool

In [23]:
type(y)

bool

In [24]:
str(x)

'True'

In [25]:
str(y)

'False'

In [26]:
type(x)

bool

In [27]:
x = str(x)

In [28]:
y = str(y)

In [29]:
type(x)

str

In [30]:
type(y)

str

 ### str to float

In [37]:
pi_sayısı = "3.14"

In [41]:
type(pi_sayısı)

str

In [42]:
float(pi_sayısı)

3.14

In [44]:
type(pi_sayısı)

str

In [49]:
pi_sayısı_2 = float(pi_sayısı)

In [51]:
type(pi_sayısı_2)

float

### int to float

In [52]:
age_2 = 35

In [53]:
type(age_2)

int

In [54]:
age_2 = float(age_2)

In [55]:
type(age_2)

float

In [56]:
print(age_2)

35.0

 ### float to int

In [57]:
float_sayı = 5.8

In [58]:
type(float_sayı)

float

In [59]:
float_sayı = int(float_sayı)

In [60]:
type(float_sayı)

int

In [62]:
print(float_sayı)    # integer noktadan sonrasını siler.

5

In [63]:
int(3.99999)

3

In [64]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [65]:
float("3.14")

3.14

In [66]:
int(float("3.14"))

3

### bool to int
### bool to float

In [71]:
z = True
t = False

In [74]:
int(z)           # True int değeri 1 dir

1

In [75]:
int(t)           # False int değeri 0 dır

0

In [76]:
float(z)

1.0

In [77]:
float(t)

0.0

# Arithmetic Operations

In [78]:
4 + 7

11

In [79]:
20 - 5

15

In [80]:
5 * 5

25

In [82]:
40 / 10          # Bir yerde bölme işlemi varsa sonuç floattır.

4.0

In [83]:
2.4 * 5          # Bir işlemde float varsa sonuç floattır.

12.0

In [84]:
25 / 3

8.333333333333334

In [85]:
25 // 3          # // (floor division) Bu işaret bölümün tam kısmını verir.

8

In [1]:
25 // 3.0        # Bir işlemin içinde float varsa sonuç float çıkar.

8.0

In [86]:
25 % 3           # % (modulus) Bu işaret kalanı verir.

1

In [87]:
2 ** 5           # Üs alma işlemi çarpma işaretinin 2 kere yan yana gelmesiyle olur.

32

In [88]:
16 ** 0.5        # Karekök işlemi bu şekilde yapılır.

4.0

In [3]:
27 ** (1/3)       # Küpkök işlemi bu şekilde yapılır.

3.0

In [4]:
int(64 ** (1/3))

3

In [7]:
x= (4 + 7) ** (4 ** (1 * 2 / 2) / 2)         # Üs alma bölme işleminden önceliklidir.
print(x)

121.0

### Yarıçapı 7 olan bir dairenin alanını bulan phyton kodunu yazınız. pi = 3.14

In [1]:
r = 7
pi = 3.14
alan = pi * r ** 2

print ("Dairenin alanı = " , alan)

Dairenin alanı =  153.86

In [12]:
x = 5

In [13]:
x = x + 5   # x += 5
print(x)

10

In [14]:
x = x - 4   # x -= 4
print(x)

6

In [15]:
x = x * 3   # x *= 3
print(x)

18

In [16]:
x = x / 3   # x /= 3
print(x)

6.0

In [17]:
x **= 2        # Üs alma işlemi
print(x)

36.0

In [20]:
y = 7     # 3 kere çalıştırınca sonuç ne olur?
y += 5
print(y)  

# Her seferinde y değişkenini aynı değer olarak tanımlar. Bu nedenle sonuç değişmez.

12

### Bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan phyton kodunu yazınız.

In [25]:
x = 5
y = 12                    # z ** 2 = x ** 2 + y ** 2  bu şekilde yazılamaz.
z = (x ** 2 + y ** 2) ** 0.5
print("hipotenüs =" , z)

hipotenüs = 13.0